{% extends "layout.html.twig" %}
    {% block stylesheet %}
        <link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
    {% endblock %}
    {% block scriptHead %}
    
    {% endblock %}
    {% block content  %}
    <main>
        <div class="row sec-background-2">
            <div class="container">
                <div class="row my-5">
                    <div class="col-12">
                        <a href="/article/add" class="add-article mx-2">
                            <i class="fas fa-plus"></i><h5>Ajouter un article ?</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sec-background-1">
            <div class="container">
                <div class="row mt-5 mb-3">
                    <h1>Tableau de Bord</h1>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2 border-end">
                        <div class="d-flex align-items-start">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link" href="/admin/adminArticle" >Mes articles</a>
                                {% if user.role == 'administrateur' %}
                                    <a class="nav-link" href="/admin/adminCategory">Les categories</a>
                                    <a class="nav-link" href="/admin/adminUser">Les utilisateurs</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-10">
                        <table id="myTable" class="table dashboard-table">
                            <thead>
                                <tr>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Date creation</th>
                                    <th scope="col">Catégorie</th>
                                    {% if user.getRole == LEVEL_ADMIN %} 
                                        <th scope="col">utilisateur</th>
                                {% endif %}
                                <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in articles %}
                                <tr>
                                    <td>{{article.getTitle}}</td>
                                    <td>{{ article.getDescription | slice(0,50) | raw }}</td>
                                    <td>{{ article.getDate_create }}</td>
                                    <td>{{ article.getCategory.getName_Category }}</td>
                                    {% if user.getRole == LEVEL_ADMIN %} 
                                        <td>{{ article.getUser.getName() }}</td>
                                    {% endif %}
                                    <td>
                                        <a href="/article/show?q={{article.getId_article}}">show</a><br>
                                        <a href="/article/edit?q={{article.getId_article}}">Edit</a><br>
                                        <a href="/article/delete?q={{article.getId_article}}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
    {% block script %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script>
            $(document).ready( function () {
                $('#myTable').DataTable();
            } );
        </script>
    {% endblock %}