{% extends "layout.html.twig" %}
    {% block content  %}
        <main>
            <div class="row sec-background-1">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-12">
                            <h1>Derniers Articles ajoutés</h1>
                        </div>
                    </div>
                    <div class="row mt-2 mb-5 pt-2 pb-1">
                        {% set index = 0 %}
                        {% for card in cards %}
                            {% if index == 0 %}
                                {{card.generateMainCard() | raw}}
                                {% set index = 1 %}
                            {% else %}
                                {{ card.generateCard() | raw}}
                            {% endif %}
                            
                        {% endfor %}
                    </div>
                </div>  
            </div>
            <div class="row sec-background-2">
                <div class="container">
                    <div class="row my-5">
                        <div class="col-12">
                            <a href="?controller=article&action=add" class="add-article mx-2">
                                <i class="fas fa-plus"></i><h5>Ajouter un article ?</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sec-background-1">
                <div class="container">
                    <div class="row my-5">
                        <div class="col-12">
                            <h1>Catégories</h1>
                        </div>
                        <div class="col-12">
                                {% for categorie in category %}
                                    <a href="/article/list?category={{categorie.getId_category()}}" class="badge badge-primary my-1 mx-1 px-2 py-2 mx-2">{{categorie.getName_Category}}</a>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% set number = "2" %}
            {% for key, category in listArticleBestCategory  %}
            <div class="{{'row sec-background-'~ number}}">
                <div class="container">
                    <div class="row my-5">
                        <div class="col-12">
                            <h2>{{ key }}</h2>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                {% for card in category %}
                                    {{ card.generateCard() | raw}}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% set number = (number == "2")? "1":"2" %}
            {% endfor %}
            
        </main>
    {% endblock %}