<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link href="./public/bootstrap/bootstrapEvo.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="./public/style/main.css" rel="stylesheet" type="text/css">
    {% block stylesheet %}{% endblock %}
    {% block scriptHead %}{% endblock %}
    <title>{{title}}</title>
    {% endblock %}
</head>
    <body>
        <header>
            <div class="background-header">
                <div class="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <img class="logo-large" src="./public/img/logo.png" alt="logo">
                                <img class="logo-min" src="./public/img/logo_mini.png" alt="logo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-header dark bg-primary">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                                    <div class="container-fluid">
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                            <ul class="navbar-nav">
                                                <div class="left-menu">
                                                    <li class="nav-item">
                                                        <a class="nav-link {{appsession.isPageActive('index')?'active':''}}" aria-current="page" href="?controller=article&action=index">
                                                            <i class="fas fa-home"></i>
                                                            <span class="header-menu">Accueil</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link {{appsession.isPageActive('list')?'active':''}}" href="?controller=article&action=list">
                                                            <i class="fas fa-newspaper"></i>
                                                            <span class="header-menu">articles</span>
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class="right-menu">
                                                    {% if not user %} 
                                                    <li class="nav-item">
                                                        <a class="nav-link {{appsession.isPageActive('login')?'active':''}}" href="?controller=user&action=login">
                                                            <i class="fas fa-sign-in-alt"></i>
                                                            <span class="header-menu">Connexion</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link {{appsession.isPageActive('register')?'active':''}}" href="?controller=user&action=register">
                                                            <span class="header-menu">Inscription</span>
                                                        </a>
                                                    </li>
                                                    {% else %}
                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link {{appsession.isPageActive('admin')?'active':''}} dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class="header-menu">{{user.name}}</span>
                                                        </a>
                                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                            <li><a class="dropdown-item" href="?controller=admin&action=adminArticle">Tableau de Bord</a></li>
                                                            <li><a class="dropdown-item" href="?controller=user&action=logout">Déconnexion</a></li>
                                                        </ul>
                                                    </li> 
                                                    {% endif %}
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% if(appsession.getFlashMessage()) %}
        <div class="container">
            <div class="row">
                {% for label, message in appsession.getFlashMessage() %}
                    <div class="col-12 my-2 alert alert-{{label}}">
                        {{message}}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% block content %}

        {% endblock %}
        <footer class="bg-secondary py-5">
        {% block footer %}
        <div class="container">
            <div class="row py-5">
                <div class="card text-center">
                    <div class="card-header">
                        <ul>
                            <li>Aurélien Girard</li>
                            <li>contact@aureliengirard.fr</li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Bonne pratique</h5>
                        <p class="card-text">Site web réalisé pendant mon apprentissage, le but étant d'acquérir des connaissances et des compétences.</p>
                        <p class="card-text">Développé en langage Objet, avec une architecture MVC (pas de Framework back-end)</p>
                        <p class="card-text">Utilisation de Twig et de Bootstrap pour le front</p>
                        <a href="https://www.aureliengirard.fr" title="portfolio" class="btn btn-primary">Retour sur le portFolio</a>
                    </div>
                    <div class="card-footer text-muted">
                        <p>Site web réalisé par aurélien Girard</p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        </footer>
        <script src="./public/bootstrap/js/bootstrap.min.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>


